@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,900;1,700&display=swap');

:root {
    --main-color: #BB86FC;
    --secondary: #F3F4F5;
    --main-bg: #121212;
    --bg-dark-secondary: #1F1B24;
}

.text-primary { color: var(--main-color) !important; }
.bg-primary { background-color: var(--main-color) !important; }
.btn-primary { background-color: var(--main-color) !important; }
.bg-secondary { background-color: var(--secondary) !important; }
.bg-dark {  background-color: var(--main-bg) !important;  color: white !important; }
.bg-dark-secondary { background-color: var(--bg-dark-secondary) !important; }

.text-bold { font-weight: 700; }
.text-bolder { font-weight: 900; }
.py-5 { padding-top: 7.5rem !important; }
h1, h2, h3, h4, h4 {
    font-weight: 700;
}

.v-align { padding: 40px 0; }
.a-clear { text-decoration: none; color: inherit; }
a:hover { color: var(--main-color); }
.navlink {
    text-decoration: none;
    color: var(--main-color);
    font-size: 24px;
    font-weight: bolder;
    background-color: transparent;
}
.navlink:hover { color: var(--main-color); }



.header-title {
    margin-top: 16px;
    font-size: 80px;
    line-height: 1.15;
}
body {
    font-family: 'Lato', sans-serif;
    /* background-color: var(--main-bg); */
}
.center {
    display:flex; 
    justify-content:center;
    align-items:center;
    /* height: 100vh; */
}

.btn {
    background-color: var(--main-color);
    /* padding: 12px 32px; */
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    padding-right: 3.5rem !important;
    padding-left: 3.5rem !important;
    color: white;
    font-weight: 700;
    font-size: 18px;
    border: 2px solid var(--main-color);
}

.btn:hover {
    background-color: transparent;
    color: var(--main-color);
}

.slideshow {
    width: 75%;
}
.showcase {
    height: 75%;
}

/* .explore {
    background-color: #1e1e1e;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    padding: 32px;
} */

.font-size-secondary { font-size: 24px; }

/* .explore-border {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;
} */
input {
    margin: 2rem 0;
    background-color: transparent;
    padding: 8px 16px;
    color: inherit;
    border: 2px solid #eff2f5;
}

input:hover { border-color: var(--main-color);
}
input:focus { 
    outline: none !important;
    border-color: var(--main-color);
}

.explore-value { font-size: 32px; }

.card { 
    display: inline-block;
    background-color: inherit;
    padding: 1rem 1rem;
    color: inherit;
    border: 2px solid #eff2f5;
}

.table { color: inherit; }
.links {
    display: inline-block;
    margin: 8px;
}

.inner { width: 50%; margin: 0 auto; }
.header { margin: 32px 0; }
img { border-radius: 16px; }
footer { padding: 16px; }
